@import"./../../Style/Utils/Variables.css";

* {
    text-decoration: none
}

.home_main{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 4%;
}

.gallery {
    margin: 2rem 4rem 2rem 4rem;
    padding: 2rem ;
    background-color: #f7f7f7;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width:  450px)
{
.gallery {
    margin-top: 0;
    padding: 0;
}
}
